* {
  margin: 0;
  padding: 0;
}
body {
  background-image: url(../images/background-img/background-img.webp);
  background-repeat: repeat;
}
header {
  margin: 0 auto;
  text-align: center;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  position: relative;
}
header .head {
  display:block;
  width: 100%;
  height: 34px;
  background-color: #3d4557;
}
header .head .link {
  padding-left: 25%;
  height: 100%;
  margin: 0 auto;
}
header .head .link .left {
  height: 34px;
  float: left;
  line-height: 34px;
  font-size:12px;
}
/* 超链接 */
header .head .link .left a {
  color:white;
  text-decoration: none;
}
.header .head .link .right {
  height: 34px;
  float: right;
}
main {
  max-width: 700px;
  margin: 30px auto;
  padding: 15px;
  line-height: 1.7;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.boxshadom {
  text-decoration: none;
  display: inline-block;
  width: 200px;
  height: 200px;
  background-image: url(../images/background-img/tools.webp);
  background-repeat: no-repeat;
  background-size: cover;
}
.cssDaoHang {
  text-align: center;
  margin: 0 auto;
  font-weight: 800;
  width: 100%;
  height: 100px;
}
.div2 {
  position: relative;
}
.zongLan {
  margin: 0 auto;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width: 200px;
  height: 200px;
  background-image: url(../images/background-img/qianDuan.jpg);

}
.div2 .mask {
  position: absolute;
  left: 0;
  top: 0;
  width: 200px;
  height: 200px;
  opacity: 0;
  background-image: linear-gradient(white, rgba(0, 0, 0, 0.5));
  transition: all 0.5s;
  cursor: pointer;
}
.title {
  position: absolute;
  left: 10px;
  bottom: 15px;
  width: 180px;
  color: rgb(0, 0, 238);
  text-align: center;
  font-weight: 800;
}
main .div2 {
  display: inline-blok;
}
.div2:hover .mask {
  opacity: 1;
}
.icon {
  margin: 0 auto;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width: 200px;
  height: 200px;
  background-image: url(../images/background-img/icon_214x134.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.ico {
  margin: 0 auto;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width: 200px;
  height: 200px;
  background-image: url(../images/background-img/ico.png);
}
h3 {
  text-align: center;
  margin: 0 auto;
}
.box {
  text-align: center;
  margin: 0 auto;
}
.qs {
  color: red;
}
header h1 {
  display: inline-block;

  height: 55px;
  line-height: 55px;
}
input[name="text"] {
  margin-left: 50px;
}
.time {
  position: absolute;
  top: 2%;
  right: 10%;
  color:#ffffff;
}
.foot {
  width: 100%;
}
.foot:nth-child(1) {
  text-align: center;
}
.foot:nth-child(2) {
  text-align: center;
}
@keyframes identifier {
  from {
    background-image: url(../images/background-img/ico.png);
  }
  to {
    background-image: url(../images/background-img/qianDuan.jpg);
  }
}
.input {
  border: 0;
  border-bottom: 2px solid #fff;
  padding: 4px 2px;
  display: block;
  background: 0;
  line-height: 1.5;
  outline: none;
  text-align: center;
  transition: border-color 0.2s ease-in-out;
  border-radius: 0;
  color: #fff;
  font-size: 2rem;
  max-width: 90%;
}
.a1 {
  display: inline-block;
  height: 200px;
}
.s2 {
  display: inline-block;
  margin-left: 50px;
}
.sonForest {
  position: relative;
}
.sonForest a {
  display: inline-block;
  margin: 0 auto;
  margin-left: 17%;
}
.sonForest > a >img {
  vertical-align: top;
}
.sonForest > div{
  text-align: center;
  color:blue;
  font-weight: 900;
}
.sonForest .mask {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 247px;
  cursor: pointer;

}